<?xml version='1.0'?>
<Sections>
<ado>
    <code>Source Code Section of C-Sharp Corner</code>
    <articles>Source Code Section of C-Sharp Corner</articles>
</ado>

<Graphics>
    <code>GDI+ source Code Section of C-Sharp Corner</code>
    <articles>Source Code Section of C-Sharp Corner</articles>
</Graphics>
</Sections>
